.content {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}


* {
  font-family: 'Roboto', monospace;
  font-display: swap;
  overflow: hidden;
}

body{
  background-color: #444;
  height: 100%;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #999;
}

p {
  font-size: 1.1em;
  margin: 0;
  color: #ddd;
}

#name {
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 750px;
  background-position: center;
  font-size: 4em;
}
